venv/
__pycache__/
*.pyc
.env

database/*.db

uploads/*
downloads/*
decrypted/*
encrypted/*
cloud_storage/*

!uploads/.gitkeep
!downloads/.gitkeep
!decrypted/.gitkeep
!encrypted/.gitkeep
!cloud_storage/.gitkeep

.pytest_cache/
.vscode/
.idea/

*.log