<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Secure Data Transfer - Login</title>

</head>

<body>

    <h1>
        Secure Data Transfer
    </h1>

    <h2>
        Login
    </h2>

    {% with messages = get_flashed_messages() %}

        {% for message in messages %}

            <p>
                {{ message }}
            </p>

        {% endfor %}

    {% endwith %}


    <form
        method="POST"
        id="loginForm"
    >

        <input
            type="text"
            name="username"
            placeholder="Username"
            required
        >

        <br><br>

        <input
            type="password"
            name="password"
            placeholder="Password"
            required
        >

        <br><br>

        <input
            type="hidden"
            name="tab_token"
            id="tabToken"
        >

        <button type="submit">
            Login
        </button>

    </form>


    <p>

        Don't have an account?

        <a href="{{ url_for('auth_routes.register') }}">
            Create Account
        </a>

    </p>


    <script>

        const TAB_TOKEN_KEY =
            "secure_data_transfer_tab_token";


        function createTabToken() {

            const bytes =
                new Uint8Array(32);

            crypto.getRandomValues(
                bytes
            );

            return Array.from(
                bytes,
                byte =>
                    byte.toString(16)
                        .padStart(2, "0")
            ).join("");

        }


        let tabToken =
            sessionStorage.getItem(
                TAB_TOKEN_KEY
            );


        if (!tabToken) {

            tabToken =
                createTabToken();

            sessionStorage.setItem(
                TAB_TOKEN_KEY,
                tabToken
            );

        }


        document.getElementById(
            "tabToken"
        ).value = tabToken;


    </script>

</body>

</html>